@use '../variables'

.project
    margin: 20rem 5% 0 5%
    h2
        margin-bottom: 3rem
        font-size: 30px
        color: #FFFFFF
        text-align: center
.project-subtitle
    color: variables.$grey-color
    text-align: center
    font-size: 20px
    margin-bottom: 5rem

.featured
    h3
        color: #FFFFFF
        font-size: 22px
        margin-bottom: 3rem
        padding-left: 2%

.allProjects
    h3
        color: #FFFFFF
        font-size: 22px
        margin-top: 3rem
        margin-bottom: 3rem
        padding-left: 2%

.project-list
    display: flex
    justify-content: start

.projectCard
    margin-left: 10px
    width: 100%
