@use '../variables'
    
.navbar-links
    margin:0 30% 0 20%
    padding-top: 0.6rem
    ul
        display: flex
        flex-direction: row
        justify-content: space-between
        list-style: none
        margin: 0 10%
        li
            padding: 15px
            font-weight: 700


.navbar-link
    text-decoration: none
    color: variables.$light-green
                font-size: 22px
                font-family: variables.$title-font
                