@use '../variables'
    
.navbar
    background: variables.$dark-color
    border-bottom:1px solid variables.$light-green

    

.navbar-links
    margin:0 20% 0% 20%
    padding-top: 0.4rem
    padding-bottom: 0.3rem
    ul
        display: flex
        flex-direction: row
        justify-content: space-between
        list-style: none
        margin: 0 
        li
            padding: 1.1rem
            font-weight: 700
            margin-bottom: 0.3rem
            &:hover
                margin-bottom: 0.1rem


.navbar-link
    text-decoration: none
    color: variables.$white
    font-family: variables.$title-font
    
    
    &:hover
        color: variables.$light-green
        font-size: 18px
                