@use '../variables'
    
.navbar
    background: variables.$dark-color
    border-bottom:1px solid variables.$light-green

    

.navbar-links
    margin:0 30% 0 20%
    padding-top: 0.4rem
    padding-bottom: 0.5rem
    ul
        display: flex
        flex-direction: row
        justify-content: space-between
        list-style: none
        margin: 0 10%
        li
            padding: 1.1rem
            font-weight: 700


.navbar-link
    text-decoration: none
    color: variables.$light-green
                font-size: 22px
                font-family: variables.$title-font
                