@use '../variables'

.home-containers
    width: 70%
    margin: 0 auto
    padding: 10% 0 10% 0
    display: flex
    justify-content: space-between

.home-container
    width: 40%
    p
        display: flex
        color: variables.$grey-color
        font-family: variables.$text-font
        font-size: 20px
        height: 100%
        text-align: center
        align-items: center
    img
        border-radius: 40%
        width: 90%
        border:2px solid variables.$grey-color
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 1)
