@use '../variables'

.home-containers
    width: 70%
    margin: 0 auto
    padding: 10% 0 10% 0
    display: flex
    justify-content: space-between

.description
    margin-top: 10%

.home-img
    display: flex
    justify-content: center
    align-items: center

.home-container
    width: 40%
    color: variables.$white
    h1
        font-size: 36px
        line-height: 3.5rem
        margin-bottom: 1rem
        span
            color: variables.$light-green
    p
        display: flex
        color: variables.$grey-color
        font-family: variables.$text-font
        font-size: 20px
        height: 100%
        text-align: center
        align-items: center
    img
        border-radius: 50%
        width: 80%
        border: 2px solid variables.$grey-color
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 1)
        &:hover
            transform: rotate3d(120deg)

    h4
        margin-bottom: 2rem
    a
        font-size: 14px
        padding: .8rem 1.2rem
        background: linear-gradient(to right,variables.$light-green, variables.$dark-green)
        color: variables.$white
        font-weight: bold
        border-radius: 20px
        border: none
        text-decoration: none
        &:hover
            background: variables.$dark-green
            cursor: pointer

@media (max-width: 810px)
.home-containers
    margin-bottom: 50px
.home-container
    h1
        font-size: 24px
        line-height: 2.5rem

@media (max-width: 600px)
.home-container
    width: 70%
    text-align: center
    h1
        font-size: 18px
        line-height: 1.5rem
.home-containers
    flex-direction: column-reverse
    justify-content: center
    align-items: center
