@use '../variables'

.contact-card
    width: 19%
    margin: 10px 10px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    a    
        padding: 15px
        img
            width: 60px
            height: 60px
        h4
            margin: 10px 0 20px 0
            display: flex
            justify-content: center
            color: variables.$white
            font-size: 20px
        p
            color: variables.$grey-color
        &:hover
            scale:1.2
            cursor: pointer
            border:1px solid variables.$grey-color
            border-radius: 10px

.contact-card__img
    width: 100px
    height: 100px
    padding: 20px
    margin:0 auto
