@use '../variables'


.skill 
    margin-top: 20rem
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
    h2
        margin-bottom: 5rem
        font-size: 30px
        color: #FFFFFF
.skill-list
    display: flex
    flex-direction: row
    margin: 0 auto
    width: 90%
    flex-wrap: wrap
    justify-content: center